/* Inicio.css */
.inicio-area {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .odd-row {
    flex-direction: row-reverse;
  }
  
  .even-row {
    flex-direction: row;
  }
  
  .picture,
  .content {
    width: 40%; /* Adjust the width as needed */
  }
  
  .picture img {
    max-width: 100%;
    max-height: 100%;
  }
   
  .title {
    color: #007BCF;
    font-size: 22px;
  }
  
  .ver-mas-button {
    background-color: white;
    font-size: 16px;
    color: #007BCF;
    border: 1px solid #007BCF;
    border-radius: 45px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .ver-mas-button:hover {
    background-color: #007BCF;
    color: white;
  }


  
  /* Center the content */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  
  .p {
    color: #242527;
    padding: 20px;
    padding-top: 0;
    font-size: 20px;
  
  }

  .turnos-online{
    background-color: white;
    font-size: 18px;
    color: #007BCF;
    border: 1px solid #007BCF;
    border-radius: 45px;
    padding: 5px 10px;
    cursor: pointer; 
  }

  .turnos-online:hover {
    background-color: #007BCF;
    color: white;
  }


  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .inicio-area { 
      flex-direction: column;
      width: 100%; 

     }
     
     .title{
      width: 400px;
      text-align: center;
     }
     .picture{
      margin-top: 25px;
      width: 85%;
     }
    
    .content{
      width: 90%;
      margin-bottom: 15px;
    }

    .turnos-online{
      position: absolute;
      top: 550px;
      right: 20px;
    }

    .horarios{
      text-align: start;
    }

   } 
   